* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Common css  */
.display-flex {
  display: flex;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  cursor: pointer;
}

/* =========== */

/* Navber css  */
header {
  padding: 50px 0;
  background: rgba(255, 144, 14, 0.1);
}
.navber {
  justify-content: space-between;
  align-items: center;
}
.navber .brand a {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 2.8rem;
  font-weight: 700;
}

.navber .menu {
  gap: 50px;
}
.navber .menu a {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 1.25rem;
  font-weight: 500;
}

/* ========== */

/* banner css */
#banner-part {
  margin-top: 100px;
}

#banner-part .banner-text > div {
  max-width: 882px;
}
#banner-part .banner-text {
  text-align: center;
  justify-content: center;
}
#banner-part .banner-text h1 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 4rem;
  font-weight: 700;
}
#banner-part .banner-text p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  margin: 30px 0 100px;
}
#banner-part .banner-image img {
  width: 100%;
}
/* =========== */

/* features-part css */

#features-part {
  margin: 100px 0;
}
#features-part .features-content {
  align-items: center;
  gap: 73px;
}
#features-part .features-content .images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
#features-part .features-content .images img {
  width: 100%;
}
#features-part .features-content .features-text {
  flex: 1;
}
#features-part .features-content .features-text .color-light {
  color: #ff900e;
}
#features-part .features-content .features-text .color-gray {
  color: #727272;
}

#features-part .features-content .features-text h2 {
  color: #131313;
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}
#features-part .features-content .features-text p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 0 32px;
}
/* ================== */

/* Experience css */
#experience-part {
  margin: 100px 0;
}
#experience-part .experience-content {
  gap: 146px;
}
#experience-part .experience-text h2 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
  padding-left: 20px;
  border-left: 5px solid #ff900e;
  margin: 40px 0 24px;
}
#experience-part .experience-text h3 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#experience-part .experience-text p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
}
#experience-part .experience-text .experience-card {
  padding: 30px 33px;
  margin-top: 20px;
  box-shadow: 0 0 10px #ddd;
}
#experience-part .experience-content .image img {
  width: 100%;
}
#experience-part .experience-content .experience-badge {
  padding: 45px 42px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
  width: 342px;
  text-align: center;
  margin-left: -92px;
  margin-top: -120px;
  position: relative;
}
#experience-part .experience-content .experience-badge .year {
  color: #ffffff;
  font-family: Work Sans;
  font-weight: 700;
  font-size: 4rem;
}
#experience-part .experience-content .experience-badge .experience {
  color: #ffffff;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 1.5rem;
}
/* ============== */

/*  facts-part css */
#facts-part {
  margin: 100px 0;
}

#facts-part .facts-content h2 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}
#facts-part .facts-content .description {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  width: 542px;
  margin: 20px 0 70px;
}
#facts-part .facts-content .badge-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 124px;
  text-align: center;
}
#facts-part .facts-content .badge-content .badge-item {
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  box-shadow: 0 0 10px #ddd;
  /* width: 241.83px; */
  height: 241.83px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#facts-part .facts-content .badge-content .badge-item h3 {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 600;
}
#facts-part .facts-content .badge-content .badge-item p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1.3rem;
  font-weight: 600;
}
/* ============== */

/* Sponspors part css */
#sponspors-part {
  margin: 100px 0;
}
#sponspors-part .sponspors-content {
  text-align: center;
}
#sponspors-part .sponspors-content h2 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 3rem;
  font-weight: 700;
}
#sponspors-part .sponspors-content p {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 1rem;
  font-weight: 400;
  margin: 24px 0 50px;
}
#sponspors-part .sponspors-content .sponspors-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 154px;
  text-align: center;
}
#sponspors-part .sponspors-content .sponspors-images img {
  width: 100%;
  filter: grayscale(100%);
}
/* ========= */

footer {
  margin: 100px 0;
}
footer .footer-content {
  border-radius: 8px;
  background: rgb(255, 244, 231);
}
footer .footer-content p {
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding: 40px;
}
